<!DOCTYPE html>
<html lang="en" ng-app="roadbridge">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Roadbridge | Dashboard</title>
  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Bootstrap -->
  <link href="gentelella/production/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="gentelella/production/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="gentelella/production/css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="gentelella/production/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login" ng-controller="loginController">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">

      <div id="register" class="animate form">
        <section class="login_content">
          <form name="signupForm" novalidate ng-class="{true:'submitted'}[submitted]">
            <h1>Create Account</h1>
            <div>
              <input type="email" class="form-control" placeholder="Email" required="" ng-model="userSignup.email" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" ng-model="userSignup.password" />
            </div>
            <div>
              <a class="btn btn-default submit" ng-click="btn_signup(signupForm.$valid)">Submit</a>
            </div>
            <div class="alert alert-danger fade in" ng-show="error == true">
              {{errorMSG}}
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <!--<p class="change_link">Already a member ?-->
              <!--  <a href="#signin" class="to_register"> Log in </a>-->
              <!--</p>-->

              <div class="clearfix"></div>
              <div>
                <a href="/" class="site_title"><img src="images/logo-load.png"  alt="roadbridge logo" /></a>
                <p>&copy; 2017 RoadBridge LLC- All Rights Reserved</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</body>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/moment/min/moment-with-locales.js"></script>
<!-- load angular-moment -->
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<!--Angular App-->
<link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
<script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='bower_components/textAngular/dist/textAngular.min.js'></script>
<script src="bower_components/angular-uuid/angular-uuid.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/loginController.js"></script>

</html>