<!DOCTYPE html>
<html lang="en">
  
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petroserv - Limitted</title>

	
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 
	
	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/magnific-popup.css">
	
	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	
    <script type="text/javascript" src="/js/vendor/modernizr.min.js"></script>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="/images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		  <!-- HEADER SECTION -->
        <%- include header.ejs %>
        
		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand " href="/">
						<img src="/images/Logo.png"  alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a href="/">HOME</a>
							</li>
							<li>
								<a href="/about-us">ABOUT US</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a>
									</li>
									<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
									<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
							<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>

	</div>

	<!-- BANNER -->
	<div class="section banner-page about">
		
	</div>

	<!-- Team -->
	<div class="section why overlap">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-5 col-md-3 col-md-offset-1">
					<div class="people">
						<img class="user-pic" src="/images/director.jpg" alt="">
					</div>
				</div>
				<div class="col-sm-7 col-md-7">

					<div class="margin-bottom-30"></div>
					<h2 class="title-404">404 PAGE</h2>
					<h3 class="subtitle-404">Sorry! The page  you're looking not found</h3>
					<p></p>
					<a href="/" class="btn btn-secondary" title="home">BACK TO HOME</a>
					<div class="margin-bottom-50"></div>
					
				</div>

			</div>
		</div>
	</div>	


	 
	<!-- FOOTER SECTION -->
	<%- include footer.ejs %>
	
	<!-- JS VENDOR -->
	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="/js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="/js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/js/vendor/easings.js"></script>
	<script type="text/javascript" src="/js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="/js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="/js/vendor/form-scripts.js"></script>

	<script type="text/javascript" src="/js/script.js"></script>
		
</body>
</html>