<!DOCTYPE html>
<html lang="en" ng-app="roadbridge">

<head>
	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - MEP & Facility Management Business Unit</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

</head>

<body ng-controller="projectController">

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		<!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a href="/">HOME</a>
							</li>
							<li>
								 
								<a href="/about-us">ABOUT US</a>
								 
							</li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
								<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
									<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a>
					
									</li>
									
									<li><a href="#">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
							<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>

	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page">MEP & Facility Management Business Unit</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Team -->
	<div class="section why overlap">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-md-push-8">
					<div class="widget categories">
						<ul class="category-nav">
						<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit</a></li>
							
							<li><a href="/building-and-civil-infrastructure-business-unit">Building & Civil Infrastructure Business Unit</a></li>
							<li class="active"><a href="#">MEP & Facility Management Business Unit</a></li>
							
						</ul>
					</div>
					<div class="widget download">
						<a href="images/brochure/brochure.pdf" target="_blank" class="btn btn-secondary btn-block btn-sidebar"><span class="fa  fa-file-pdf-o"></span> Company Brochure</a>
					</div>
					<div class="widget contact-info-sidebar">
						<div class="widget-title" style="margin-bottom: 17px;">
							Contact Info
						</div>
						<h2 class="section-heading" style=" font-size: 21px; padding-bottom: 0px;">
							Wissam Rachad Chehab
						</h2>
						<h5 style="margin-top: -20px;">Divisional Manager - MEP & Facility Management Business Unit </h5>
						<ul class="list-info">

							<li>
								<div class="info-icon">
									<span class="fa fa-phone"></span>
								</div>
								<div class="info-text">(+974) 4419 0306</div>
							</li>

							<li>
								<div class="info-icon">
									<span class="fa fa-envelope"></span>
								</div>
								<div class="info-text">Wissam.Chehab@petroserv-limited.com</div>
							</li>
						</ul>
							<div class="margin-bottom-50"></div>
						<h2 class="section-heading" style=" font-size: 21px;     padding-bottom: 0px;">
						Nabil Jammal
						</h2>
						<h5 style="margin-top: -20px;">MEP Operations Manager</h5>
						<ul class="list-info">

							<li>
								<div class="info-icon">
									<span class="fa fa-phone"></span>
								</div>
								<div class="info-text">(+974) 5062 2272</div>
							</li>


							<li>
								<div class="info-icon">
									<span class="fa fa-envelope"></span>
								</div>
								<div class="info-text">Nabil.Jammal@petroserv-limited.com</div>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-sm-8 col-md-8 col-md-pull-4">
					<div class="single-page">
						<img src="images/JW MAriott.jpg" alt="MEP & Facility Management Business Unit" class="img-responsive">
						<div class="margin-bottom-30"></div>
						<h2 class="section-heading">
							MEP & Facility Management Business Unit
						</h2>
						<p>
							Over the many years as a result of being active in Oil & Gas, Infrastructure and Building markets, Petroserv has developed Electro-mechanical skills in the Building MEP and heavy inductrial sector. Consequently, Petroserv is graded with Grade A status
							for Medium Volt Works related to substations with the Authorities of ‘’Kahrama’’ and ‘’Ashghal’’.</p>

						<p>
							Our uncompromising policies on quality and safety together with the skills of our multidisciplinary workforce has made our MEP Business Unit a preferred partner in this sector.</p>

						<h5>
						A few of the projects we are executing or successfully completed include:
						</h5>
						<div class="text">
								<ul class="checklist" style="margin-left: 40px;">
									<li>JW Mariott Hotel.</li>
									<li>Industrial Area STW Expansion.</li>
									<li>Al Khor ETW Expansion.</li>
									<li>Umm Salal Pumping Station & Chlorination Building Construction.</li>
								</ul>
							</div>

					</div>
				</div>

			</div>
		</div>
	</div>



	<!-- FOOTER SECTION -->
	<%- include footer.ejs %>


	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	 <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.js"></script>
    <!-- load angular-moment --> 
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script><script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <!--Angular App-->
    <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script><link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script><script src="bower_components/angular-uuid/angular-uuid.js"></script><script src="js/app.js"></script>
    <script type="text/javascript" src="js/contactController.js"></script>

	<script type="text/javascript" src="js/script.js"></script>

</body>



</html>
