<!DOCTYPE html>
<html lang="en" ng-app="roadbridge">


<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roadbridge - SHEQ</title>
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">
    <meta name="author" content=" ">

    <!-- ==============================================
	Favicons
	=============================================== -->
    <link rel="shortcut icon" href="/images/favicon.ico">


    <!-- ==============================================
	CSS VENDOR
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

    <!-- ==============================================
	Custom Stylesheet
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

</head>

<body ng-controller="projectController">

    <!-- Load page -->
    <div class="animationload">

        <div class="spinner">
            <img id="logo-spinner" src="images/logo-load.png"></img>
        </div>
    </div>

    <!-- BACK TO TOP SECTION -->
    <a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

    <div class="header">
        <!-- HEADER SECTION -->
        <%- include header.ejs %>

    </div>

    <!-- BANNER -->
    <div class="section banner-page about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="title-page">SHEQ</div>

                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT FEATURE -->
    <div class="section feature overlap">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-12">
                    <div class="single-page">
                        <p>Roadbridge LLC are currently in the process of updating our systems for ISO accreditation for Health & Safety, Environmental and Quality systems in line with all Group Companies.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <h2 class="section-heading">HEALTH & SAFETY
                    </h2>
                    <p>At Roadbridge, It is our philosophy to ensure that we “work safely or not at all.”<br>Each project has a dedicated Health and Safety Advisor/Officer. We are experienced practitioners of the applicable Safety Regulations for the area where we are working, for both our own works and when co-ordinating the Health and Safety elements of others.</p>
                    <p>
                        Roadbridge sets the highest standards in QHSE; and has a proven history of working collaboratively with our Clients, our supply chain and other third parties to deliver these standards.
                    </p>
                    <p>
                        We have invested heavily in training for all our employees; from Management training through the IOSH accredited Managing Safely in Construction Course, to Safe Pass, CPCS and CSCS Training for all our operatives. We have also facilitated the training of subcontractor personnel while on our sites to ensure that all people working on our projects are equally aware and appreciative of our systems and standards.</p>
                    <p>
                        Our Safety Management organisation structure consists of an experienced team of Safety Professionals coordinated through a dedicated Health and Safety Department.</p>
                        <p>
                            Our safety team have been commended from multiple clients for being pro-active in the workplace, systems of work and dedication to safety.
                        </p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="media">
                        <!-- Trigger the Modal -->
                        <img class="modal-image" id="image1" src="images/policies/health-safety.png" alt="Health and safety policy">

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-6 col-md-6">
                    <h2 class="section-heading">ENVIRONMENTAL
                    </h2>
                    <p>Roadbridge are committed to the protection of the environment throughout our works and we demonstrate this through means such as Certifi cation to ISO 14001; Registering our UK based sites with Considerate Constructors Scheme; and through project sustainability award schemes such as CEEQUAL. We are very proud of our record of never having had any legal actions taken against us for environmental breaches in any jurisdiction.</p>
                    <p>
                        In 2014, the A477 St. Clear's to Red Roses Road Improvement Scheme achieved the highest score for a road scheme in Wales, and the Athea Wind Farm became the first project of its kind within Ireland to achieve a CEEQUAL Award. Athea has also been further honoured by winning the CEEQUAL Outstanding Achievement Award in the Energy & Carbon Category at the 2016 International Awards. These awards are only held every three years and represent the pinnacle of sustainability performance.</p>
                    <p>
                        For each Project we are involved in, our Project Environmental Manager collaborates with our Environmental Department, designer, relevant Stakeholders and the Client to develop a suitable Environmental Operating Plan (EOP) or Construction Environmental Management Plan (CEMP), as required.</p>
                    <p>
                        We begin each project with a comprehensive study of the Environmental Impact Statement and the Contract Documents and these form the site specific aspects of the Construction Environmental Management Plan. Environmental Risk Assessments are prepared for each work element in order to ensure that the mitigation measures required are planned and integrated into the site works.</p>
                    <p>
                        Project Specific Management Plans (as required) are developed under the following headings and also aligned with the Project Environmental Statement Chapters:
                        <ul>
                        <li>Area Management Plan</li>
                        <li>Surface water Quality Management Plan (incorporating Flood Hydraulics Management Plan)</li>
                        <li>Site Waste Management Plan</li>
                        <li>Traffic Management Plan</li>
                        <li>Air Quality Management Plan</li>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="media">
                        <!-- Trigger the Modal -->
                        <img class="modal-image" id="image2" src="images/policies/environmental.png" alt="Environmental policy">

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-6 col-md-6">
                    <h2 class="section-heading">QUALITY</h2>
                    <p>At Roadbridge, It is our philosophy to ensure that we “work safely or not at all.”<br>Each project has a dedicated Health and Safety Advisor/Officer. We are experienced practitioners of the applicable Safety Regulations for the area where we are working, for both our own works and when co-ordinating the Health and Safety elements of others.</p>
                    <p>
                        Roadbridge sets the highest standards in QHSE; and has a proven history of working collaboratively with our Clients, our supply chain and other third parties to deliver these standards.
                    </p>
                    <p>
                        We have invested heavily in training for all our employees; from Management training through the IOSH accredited Managing Safely in Construction Course, to Safe Pass, CPCS and CSCS Training for all our operatives. We have also facilitated the training of subcontractor personnel while on our sites to ensure that all people working on our projects are equally aware and appreciative of our systems and standards.</p>
                    <p>
                        Our Safety Management organisation structure consists of an experienced team of Safety Professionals coordinated through a dedicated Health and Safety Department.</p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="media">
                        <!-- Trigger the Modal -->
                        <img class="modal-image" id="image3" src="images/policies/quality.png" alt="Quality policy">

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


            </div>
        </div>
    </div>


    <!-- FOOTER SECTION -->
    <%- include footer.ejs %>

        <!-- JS VENDOR -->
        <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
        <script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/vendor/easings.js"></script>
        <script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

        <!-- sendmail -->
        <script type="text/javascript" src="js/vendor/validator.min.js"></script>
        <script type="text/javascript" src="js/vendor/form-scripts.js"></script>
<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.js"></script>
    <!-- load angular-moment --> 
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script><script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <!--Angular App-->
    <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script><link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script><script src="bower_components/angular-uuid/angular-uuid.js"></script><script src="js/app.js"></script>
    <script type="text/javascript" src="js/contactController.js"></script>


        <script type="text/javascript" src="js/script.js"></script>
        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img1 = document.getElementById('image1');
            var img2 = document.getElementById('image2');
            var img3 = document.getElementById('image3');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img1.onclick = function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            img2.onclick = function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            img3.onclick = function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
        </script>
</body>



</html>